{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                   <a class="nav-link" href="#">Contact Us: 0928077212</a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            2020, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.linkedin.com/in/mujab-nasraldeen-767926173/">Mujab Nasraldeen</a> & <a href="https://www.linkedin.com/in/mohammed-musa-it/">Mohammed Musa</a>
        </div>
    </div>
</footer>