{%  extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Register for account</h4>
        </div>
        
        <div class="card-body">
            <h4 class="demo">Select below the type of account you want to create</h5>
                <br>
            <p class="demo">
                <a class="btn btn-secondary btn-lg" href="{% url 'registerDoctor' %}" role="button"><i class="fa fa-user-md"></i> Doctor</a>
                &nbsp;
                <a class="btn btn-info btn-lg" href="{% url 'registerPatient' %}" role="button"><i class="fa fa-wheelchair"></i> Patient</a>
            </p>
        </div>

        <div class="card-action">
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a> 
        </div>

    </div>
</div>

{% endblock %}